/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacques+Francois&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 180%;
    color: #252525;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 140%;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgba(58, 58, 58, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: whitesmoke;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.75em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(58, 58, 58, 0.5);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgba(58, 58, 58, 0.5);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make min element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
}

#hero {
    height: 400px;
    width: 100%;
    background: url("../images/banner_photo.webp") no-repeat left/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(58, 58, 58, 0.5);
    position: absolute;
    bottom: 30px;
    width: 80%;
    font-size: 130%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h4 {
    color: whitesmoke;
}

#aboutme {
    margin: 20px;
    text-align: center;
    font-size: 150%;
}

/* Footer */
footer {
    background-color: black;
    padding: 1em;
    text-align: center;
    width: 100%;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: antiquewhite;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #ffffff;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    header a {
        text-decoration: none;
        color: #3a3a3a;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 75px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Media query:  large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}